@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("handsontable/dist/handsontable.full.min.css");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply w-full max-w-screen-2xl h-full h-screen;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button.btn_default {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}
input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}
button.disabled {
  @apply bg-gray-300 pointer-events-none;
}
th {
  @apply border px-4 py-2 text-center;
}
td {
  @apply border px-4 py-2 text-center;
}
textarea {
  resize: none;
}
td p {
  white-space: pre-wrap;
}
